.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* everything left aligned */
  margin-top: 3em;
  position: relative;
  overflow: hidden;
  
}

.about__header {
  display: flex;
  flex-direction: row; /* image LEFT, text RIGHT */
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.1rem;
  width: 100%;
}

.about__picture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0; /* prevent image squishing */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.about__intro {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about__name {
  color: var(--clr-primary);
  text-align: left;
  
}

.about__role {
  margin-top: 1.2em;
  text-align: left;
   
}

.about__desc {
  font-size: 1.05rem;
  max-width: 600px;
  margin-top: 2.4em;

}

.about__contact {
  margin-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.0em;
}

.about .link--icon {
  margin-right: 0.5em;
  color: var(--clr-fg);
  transition: color 0.2s ease;
  font-size: 1.7rem;
}

.about .link--icon:hover {
  color: var(--clr-primary);
}

.about__social-icons .link--icon svg {
  font-size: 1.9rem;  /* increase this to make them bigger */
}

.about .btn--outline {
  display: flex;
  align-items: center;
  margin-right: 4em;
  margin-left: 3em;
   font-size: 1.05rem;
}



.about__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.15;  /* dim it so text stays readable */
  z-index: 0;
}

.about__keyblade {
  width: 30px;
  height: 28px;
  object-fit: contain;
  margin-right: 10px;
  vertical-align: middle;
}

/* Tablet */
@media (max-width: 900px) {
  .about__picture {
    width: 140px;
    height: 140px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .about {
    margin-top: 2em;
  }

  .about__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__picture {
    width: 110px;
    height: 110px;
  }

  .about__desc {
    font-size: 0.95rem;
  }
}